.gg-container {
    --main-color: #000;
    --secondary-color: #111;
    --txt-color: #fff;
    --img-bg-color: rgba(240, 240, 240, 0.9);
    --backdrop-color: rgba(240, 240, 240, 0.9);
    --gap-length: 2;
    --column-width: 110;

    &[data-theme="dark"] {
        --main-color: #ddd;
        --secondary-color: #eee;
        --txt-color: #111;
        --img-bg-color: rgba(20, 20, 20, 0.9);
        --backdrop-color: rgba(30, 30, 30, 0.9);
    }
    &[data-layout="carousel"] {
        position: relative;
    }
}

.gg-box {
    --column-width-px: calc(var(--column-width) * 1px);
    --gap-px: calc(var(--gap-length) * 1px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--column-width-px), 1fr));
    grid-template-rows: 1fr;
    gap: var(--gap-px);
    margin: 20px 0;

    img {
        object-fit: cover;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: var(--img-bg-color);
        &:hover {
            opacity: 0.98;
        }
    }

    [data-layout="flexible"] & {
        grid-template-rows: 1px;
        row-gap: 0;

        .gg-img {
            --column-span: ~"calc(max(1, round(up, var(--gg-ratio, 1) * 2)))";
            --row-span: calc(var(--column-width) * var(--column-span) / var(--gg-ratio) + var(--gap-length));
            overflow: hidden;
            &:not(:last-child) {
                margin-bottom: var(--gap-px);
            }
        }
    }
    [data-layout="masonry"] & {
        grid-template-rows: 1px;
        row-gap: 0;

        .gg-img {
            --column-span: 2;
            --row-span: calc(var(--column-width) * var(--column-span) / var(--gg-ratio) + var(--gap-length));
            overflow: hidden;
            &:not(:last-child) {
                margin-bottom: var(--gap-px);
            }
        }
    }
    [data-layout="gapless"] & {
        .gg-img {
            --column-span: ~"calc(max(1, round(up, var(--gg-ratio, 1) * 2)))";
            --row-span: ~"calc(round(var(--column-span) / var(--gg-ratio)))";
            aspect-ratio: calc(var(--column-span) / var(--row-span));
        }
    }
    [data-layout="landscape"] & {
        --fixed-ratio: 16 / 9;
        .gg-img {
            aspect-ratio: var(--fixed-ratio);
            --column-span: 3;
        }
    }
    [data-layout="square"] & {
        --fixed-ratio: 1;
        .gg-img {
            aspect-ratio: var(--fixed-ratio);
        }
    }
    // Ideas from https://modern-css.com/articles/build-a-css-only-carousel/
    [data-layout="carousel"] & {
        display: flex;
        overflow-x: auto;
        gap: var(--gap-px);

        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;

        .scroll-marker-group {
            display: flex;
            position: absolute;
            bottom: 0px;
            margin-bottom: 5px;
            width: 100%;
            gap: 0.4em;
            place-content: center;
            .scroll-marker {
                content: '';
                cursor: pointer;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #ccc;
                opacity: 0.5;
            }
            .scroll-marker-current {
                background: #222;
                opacity: 0.8;
            }
        }

        .scroll-button {
            position: absolute;
            top: calc(50% - 18px);
            z-index: 1;

            border: none;
            padding: 10px;

            background-color: #222;

            opacity: 0.5;
            &:hover {
                opacity: 0.8;
            }
            &:disabled {
                display: none;
            }
        }
        .scroll-button-left {
            content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-chevron-compact-left' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223'/></svg>") / "Next Image";
            border-radius: 0 10px 10px 0;
            left: 0;
        }
        .scroll-button-right {
            content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-chevron-compact-right' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671'/></svg>") / "Previous Image";
            border-radius: 10px 0 0 10px;
            right: 0;
        }

        .gg-img {
            width: calc(var(--column-width-px) * var(--gg-ratio) * 3);
            height: calc(var(--column-width-px) * 3);
            aspect-ratio: var(--gg-ratio);
            scroll-snap-align: center;
            scroll-snap-stop: always;

        }
    }
}

.gg-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--backdrop-color);
    z-index: 9999;
    text-align: center;

    .gg-current-img {
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 96%;
            max-height: 96%;
            margin: 0 auto;
        }
    }
}

.gg-img {
    --gg-ratio: calc(var(--gg-w, 16) / var(--gg-h, 9));
    display: flex;
    grid-row-end: span var(--row-span, 2);
    grid-column-end: span var(--column-span, 2);
}

.gg-btn {
    width: 35px;
    height: 35px;
    background: var(--main-color);
    color: var(--txt-color);
    text-align: center;
    line-height: 35px;
    cursor: pointer;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 2px;
    position: fixed;
    bottom: 10px;

    &:hover {
        background: var(--secondary-color);
    }
}
.gg-close {
    top: 10px;
}
.gg-close, .gg-next {
    right: 10px;
}
.gg-prev {
    right: 50px;
}
.gg-prev, .gg-next {
    bottom: 10px;
}
